/App1/App1.Android/obj
/App1/App1.Android/bin
/App1/App1.iOS/obj
/App1/App1.iOS/bin
/App1/App1/obj
/App1/App1/bin
/packages
/.vs
/App1/App1.Android/App1.Android.csproj.bak
/App1/App1.Android/App1.Android.csproj.user
